* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
:root {
    //TYPOGRAPHY--------------------|
    %title {
        font-size: 3.6rem;
        font-weight: 900;
    }
    %headerOne {
        font-size: 3rem;
        font-weight: 700;
    }
    %headerTwo {
        font-size: 2.625rem;
        font-weight: 700;
    }
    %headerThree {
        font-size: 2.25rem;
        font-weight: 700;
    }
    %headerFour {
        font-size: 1.875rem;
        font-weight: 500;
    }
    %headerFive {
        font-size: 1.5rem;
        font-weight: 500;
    }
    %paragraph {
        font-size: 1rem;
        font-weight: 400;
    }

    //COLORS-------------------------|
    --darkShade: #324739;
    --neutralShade: #65806D;
    --lightShade: #a7bfae;
    --primaryDark: #2a2a2a;
    --primaryLight: #f1ede7;
}
nav {
    color: var(--primaryDark);
    position: fixed;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: var(--primaryLight);
    transition: all 350ms ease;
    z-index: 10;
    
    .navContainer {
        width: 1000px;
        height: 100%;
        margin: 0 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .back {
            font-size: 2rem;
            font-weight: bold;
            align-self: center;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: inherit;
                position: relative;
            }
            a::after {
                content: '';
                position: absolute;
                left: -5%;
                top: 45%;
                width: 0%;
                height: 5px;
                background: var(--neutralShade);
                transition: .1s ease-in-out;
            }
            a:hover::after {
                width: 110%;
            }
        }
    }
}
// intersection change -----------------------------------------------------------|
.navScrolled {
    color: var(--primaryDark);
    background: white;
    box-shadow: 0 3px 20px rgba(black, 0.2);
}
// DO NOT CHANGE ^^^^^------------------------------------------------------------|


//THINGS YOU CAN CHANGE------------------------------------------------------------|
.hero {
    padding-top: 60px;
    height: auto;
    width: 100%;
    background: var(--lightShade);
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-container {
        max-width: 1000px;
        padding-bottom: 50px;
        margin: 0 5vw;
        padding: 50px 0;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);

        .hero-title {
            @extend%headerOne;
            color: var(--primaryLight);
            text-shadow: 0px 3px 5px var(--darkShade);
            align-self: end;

            grid-column: 1/2;
            grid-row: 1/2;
        }
        .hero-picture {
            height: 350px;
            width: 350px;
            object-fit: cover;
            object-position: 0% 20%;
            border-radius: 10px;
            box-shadow: 3px 3px 5px var(--darkShade);
            align-self: center;
            justify-self: center;

            grid-column: 2/3;
            grid-row: 1/3;
        }
        .hero-description {
            @extend%paragraph;
            color: var(--primaryDark);
            align-self: center;

            grid-column: 1/2;
            grid-row: 2/3
        }
    }    
}
.persona {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .persona-title {
        @extend%headerThree;
        color: var(--neutralShade);
        text-align: center;
        margin: 0 5vw;
        padding: 50px 0 30px;
    }
    .persona-container {
        max-width: 1000px;
        margin: 0 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-bottom: 50px;
        

        .persona-image {
            height: 250px;
            width: 400px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px var(--primaryDark);
            object-fit: cover;
            object-position: 0% 60%;
        }
        .persona-description {
            @extend%paragraph;
            color: var(--primaryDark);
            max-width: 500px;
            text-align: justify;
        }
    }
}
.deliverables {
    height: auto;
    width: 100%;
    background: var(--lightShade);
    display: flex;
    flex-direction: column;
    align-items: center;

    .d-title {
        @extend%headerThree;
        color: var(--primaryLight);
        text-shadow: 0px 1px 3px var(--darkShade);
        text-align: center;
        margin: 0 5vw;
        padding: 30px 0;
    }
    .d-description {
        @extend%paragraph;
        color: var(--primaryDark);
        max-width: 900px;
        text-align: center;
        text-align: justify;
        justify-self: center;
        margin: 0 5vw;
        padding-bottom: 50px;
    }
    .d-container {
        max-width: 1000px;
        margin: 0 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        padding-bottom: 50px;
           
        img {
            max-width: 400px;
            aspect-ratio: 1.75/1;
            object-fit: cover;
            object-position: 0% 20%;
            border-radius: 10px;
            box-shadow: 3px 3px 10px var(--darkShade);
        }
    }
}
.wireframing {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .w-title {
        @extend%headerThree;
        color: var(--neutralShade);
        margin: 0 5vw;
        padding: 50px 0;
    }
    .w-description {
        @extend%paragraph;
        color: var(--primaryDark);
        margin: 0 5vw;
        max-width: 900px;
        text-align: justify;
    }
    .w-container {
        max-width: 1000px;
        margin: 0 5vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        gap: 25px;
        padding: 50px 0;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 3px 3px 10px var(--primaryDark);
        }

    }
}
.high-fidelity {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hf-title {
        @extend%headerThree;
        color: var(--neutralShade);
        margin: 0 5vw;
        padding: 50px 0;
        text-align: center
    }
    .hf-description {
        @extend%paragraph;
        color: var(--primaryDark);
        max-width: 900px;
        margin: 0 5vw;
        text-align: justify;
    }
    .hf-container {
        max-width: 1000px;
        margin: 0 5vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        gap: 25px;
        padding: 50px 0;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 3px 3px 10px var(--primaryDark);
        }

    }
}
.future {
    height: auto;
    width: 100%;
    background: var(--neutralShade);
    display: flex;
    flex-direction:column;
    align-items: center;

    .f-title {
        @extend%headerThree;
        color: var(--primaryLight);
        margin: 0 5vw;
        padding: 50px 0;
    }
    .f-description {
        @extend%paragraph;
        color: var(--primaryDark);
        max-width: 900px;
        margin: 0 5vw;
        text-align: justify;
        padding-bottom: 100px;
    }
}




//FOOTER--------------------------------------------------------------------------|
.footer {
    height: 200px;
    background: linear-gradient(#33302B, #1E1C18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .footerSections {
        list-style: none;
        display: flex;
        gap: 20px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    .signature {
        color: white;
    }
    .footerSocial {
        color: white;
        text-decoration: none;
    }
}
//--MEDIA QUERIES-----------------------------------------------------------------|
@media(max-width:850px) {
    .hero {
        .hero-container {
            grid-template-columns: 1fr;
            gap: 30px;
            .hero-title {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .hero-picture {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .hero-description {
                margin: 0 5vw;
                grid-column: 1/2;
                grid-row: 3/4
            }
        }    
    } 
    
    
   
    
    
}